0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [4]:
import pandas as pd
from palmerpenguins import load_penguins

penguins = load_penguins()
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [5]:
def categorize_penguin(sex, species, bill_l, bill_d, flipper_l, mass):
    bill_ld = bill_l * bill_d
    mass_five = mass * 0.05

    if sex == "male" and bill_ld > 800:
        return "Big Mouth Billy"
    if sex == "female" and flipper_l < mass_five:
        return "Dainty Daisy"
    if species == "Adelie":
        return "Average Adelie"
    
    return "Other"

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [10]:
penguins['category_name'] = penguins.apply(lambda row: categorize_penguin(row['sex'], 
                                                                          row['species'], 
                                                                          row['bill_length_mm'], 
                                                                          row['bill_depth_mm'], 
                                                                          row['flipper_length_mm'], 
                                                                          row['body_mass_g']), axis=1)

3. Run the following code to find the counts for each type.

In [11]:
penguins.value_counts("category_name")

category_name
Average Adelie     127
Other               84
Big Mouth Billy     71
Dainty Daisy        62
Name: count, dtype: int64